@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.wrapper {
  margin: 37px 0 139px;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.label {
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: #798B56;
}

.subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 118%;
  color: #8BC441;
}

.text {
  line-height: 180%;
  color: #284854;
}

.page__great {
  margin-bottom: 80px;
}

.page__partner {
  margin-bottom: 80px;
  display: none;
}

.page__result {
  display: none;
}

.great__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  line-height: 150%;
  color: #8BC441;
  margin-bottom: 24px;
}

.great__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.great__wrap-image {
  margin-left: 7px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 285px;
          flex: 0 0 285px;
}

.great__image {
  max-width: 100%;
}

.great__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 48px 36px 0 129px;
}

.great__label {
  margin-bottom: 10px;
}

.great__subheading {
  margin-bottom: 2px;
}

@media (max-width: 880px) {
  .great__row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .great__body {
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 445px) {
  .great__label {
    margin-bottom: 0px;
    font-size: 18px;
  }
  .great__subheading {
    font-size: 34px;
  }
  .great__text {
    text-align: justify;
  }
  .great__wrap-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
  }
}

.partner__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partner__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 18px 138px 0 55px;
}

.partner__label {
  margin-bottom: 10px;
}

.partner__subheading {
  margin-bottom: 10px;
}

.partner__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 312px;
          flex: 0 0 312px;
}

.partner__image {
  max-width: 100%;
}

.result__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 285px;
          flex: 0 0 285px;
  margin-left: 6px;
}

.result__image {
  max-width: 100;
}

.result__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 13px 80px 0 130px;
}

.result__label {
  margin-bottom: 10px;
}

.result__subheading {
  margin-bottom: 33px;
}
