.partner {
    &__row {
        display: flex;
    }

    &__body {
        flex: 1 1 auto;
        padding: 18px 138px 0 55px; // 62 двигал, значение в макете 55
    }

    &__label {
        margin-bottom: 10px;
    }

    &__subheading {
        margin-bottom: 10px;
    }

    &__text {
    }

    &__wrap-image {
        // margin-right: -7px; // тут вопрос
        flex: 0 0 312px;
    }

    &__image {
        max-width: 100%;
    }
}

// 1920
// 1600
// 1440
// 1336
// ========
// 1024
// 768

@media (max-width: 1024px) {
    .partner {
        &__body {
            padding: 0;
        }
    }
}

@media (max-width: 880px) {
    .partner {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__body {
            padding: 0;
        }

        &__body {
            padding: 0;
            text-align: center;

            margin-bottom: 30px;
        }
    }
}

@media (max-width: 445px) {
    .partner {
        &__label {
            margin-bottom: 0px;
            font-size: 18px;
        }

        &__subheading {
            font-size: 34px;
        }

        &__text {
            text-align: justify;
        }
        &__wrap-image {
            flex: 0 0 260px;
        }
    }
}
