.result {
    &__row {
        display: flex;
    }

    &__wrap-image {
        flex: 0 0 285px;
        margin-left: 6px;
    }

    &__image {
        max-width: 100;
    }

    &__body {
        flex: 1 1 auto;
        padding: 13px 80px 0 130px;
    }

    &__label {
        margin-bottom: 10px;
    }

    &__subheading {
        margin-bottom: 33px;
    }

    &__text {
    }
}

@media (max-width: 1024px) {
    .result {
        &__body {
            padding: 0;

            margin-bottom: 30px;
        }
    }
}

@media (max-width: 880px) {
    .result {
        &__row {
            flex-wrap: wrap-reverse;
            justify-content: center;

            text-align: center;
        }
    }
}

@media (max-width: 445px) {
    .result {
        &__label {
            margin-bottom: 0px;
            font-size: 18px;
        }

        &__subheading {
            font-size: 34px;
        }

        &__text {
            text-align: justify;
        }
        &__wrap-image {
            flex: 0 0 260px;
        }
    }
}
