// * ===== fonts ===== * //
$fontRoboto: "Roboto", sans-serif;
$fontNunitoSans: "Nunito Sans", sans-serif;


// * ===== color ===== * //
$colorGreen: #8BC441;
$colorDarkGreen: #798B56;
$colorDarkGrey: #284854;